<header>
    <div class="container">
        <a href="#" class="logo">ShopOnline</a>
        <nav>
            <ul>
                <li><a href="#" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a> </li>
                <li><a href="#" [routerLink]="['/list']">Beweries</a> </li>
                <li><a href="#" [routerLink]="['/todos']">Todos</a> </li>
            </ul>
        </nav>
    </div>
</header>

<div class="container" id="app">
    <router-outlet></router-outlet>
</div>
